.trans {
  background: transparent !important;
}

.resize {
    max-width: 64px;
    max-height: 64px;
}
.itemCom1 {
    padding: 10px;
    background: #F5F5F5;
    border-bottom: 1px solid #ddd;
}
.itemCom0 {
    padding: 10px;
    background: #FF7A7A;
    border-bottom: 1px solid #ddd;
}
.itemCom1:hover {
    border-bottom: 1px solid #ddd;
}
.itemCom0:hover {
    border-bottom: 1px solid #ddd;
}
.thumbs:hover {
    text-decoration: none;
    color: #000;
}
.item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.item:hover {
    cursor: pointer;
    background: #eee;
}
.show {
    height: auto;
}
.hide {
    height: 10%;
    transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -webkit-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
}