{% extends "layout.html" %}
{% block title %}GrapeVine{% endblock %}

{% block includes %}
    <script src="{{url_for('static',filename = 'js/doT.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/dot_templates.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/holder.js')}}"></script>
{% endblock %}

{% block body %}
    <div id="additem" class="container-fluid">
        <form class="" id="add-item" action="/add_item" method="POST">
        {{ additem_form.hidden_tag() }}

        <div>Store Name {{ additem_form.store_name() }} </div>

        <div>Item Name {{ additem_form.item_name() }} </div>

        <div>Item URL {{ additem_form.item_url() }} </div>

        <div>Item Price {{ additem_form.item_price() }} </div>

        <input type="submit" value = "Submit"/>
        </form>       
    </div>

{% endblock%}  
