{% extends "layout.html" %}
{% block title %}GrapeVine{% endblock %}

{% block includes %}
    <script src="{{url_for('static',filename = 'js/doT.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/dot_templates.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/holder.js')}}"></script>
{% endblock %}

{% block body %}
    <div id="rest_list" class="container-fluid">
    </div>

    <script type="text/javascript">
        $(document).ready(function(data) {
            $.post("/api/list/restaurants", function(data) {
                var resList = res_list(data);
                $("#rest_list").html(resList);
                $("div.enclosure").click(function(data1) {
                    console.log($(this).attr('data-name'));
                    $.post( "/api/list/items", {'store_id':  $(this).attr('data-name')}, function(data1) {
                        console.log(data1);
                        var resList = items_list(data1);
                        $("rest_list").html(resList);
                    });
                });
            });
        });
    </script>
{% endblock%}  
